/* Botão */
#gerar-senha {
    margin-top: 2em;
    padding: 18px;
    font-size: 16px;
    width: 100%;
    background-color: var(--corInput);
    border: none;
    border-radius: 5px;
    color: white;
}

#gerar-senha:hover {
    background-color: var(--corInputHover);
}

#gerar-senha:active {
    background-color: var(--corInputActive);
}