/* Input checkbox */
#container-config {
    display: grid;
    font-size: 18px;
    width: 100%;
    margin: auto;
    gap: 14px;
}

.check-config {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background-color: var(--corFundoInput);
    border-radius: 5px;
    cursor: pointer;
}

.check-config:hover {
    background-color: var(--corFundoInputHover);
}

.check-config:active {
    background-color: var(--corFundoInputActive);
}

.check-config:checked {
    background-color: var(--corInput);
}

.check-config:checked::after {
    content: "";
    display: block;
    background-image: url("../assets/selecionado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90%;
}

.check-config:checked:hover {
    background-color: var(--corInputHover);
}

.check-config:checked:active {
    background-color: var(--corInputActive);
}

.check-nome {
    position: relative;
    bottom: 4px;
}