.container-check-config {
    margin-bottom: 6px;
}

.check-config {
    position: relative;
    appearance: none;
    background-color: var(--inputPrincipal);
    width: 25px;
    height: 25px;
    border: 1px solid var(--bordaPrincipal);
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.check-config:active {
    background-color: var(--inputPrincipalActive);
}

.check-config:checked {
    background-color: var(--inputSecundario);
    border: 1px solid var(--bordaSecundaria);
}

.check-config:checked:active {
    background-color: var(--inputSecundarioActive);
}

.check-config:checked::after {
    content: url("../assets/selecionado.svg");
    position: absolute;
    left: 1.2px;
    top: 1.4px;
}

.check-nome {
    position: relative;
    bottom: 7px;
}
