/* Conteúdo do site */
#conteudo-site {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 65dvh;
}

/* Título */
h1 {
    font-size: 2.5em;
    text-align: center;
    color: var(--corTitulo);
    text-shadow: var(--sombraElemento);
}

/* Card do gerador */
#card {
    padding: 30px;
    background-color: #bdbdbd;
    width: 500px;
    height: auto;
    border-radius: 35px;
    box-shadow: var(--sombraElemento);
}

#conteudo-card {
    position: relative;
    margin: auto;
    width: 85%;
    height: 100%;
}