/* Input range */
#container-range {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0px;
}

#input-range {
    appearance: none;
    width: 100%;
    border-radius: 20px;
    margin-right: 24px;
}

#input-range::-webkit-slider-runnable-track {
    height: var(--heightTrack);
    border-radius: 20px;
    background-color: var(--corInput);
}

#input-range:hover::-webkit-slider-runnable-track {
    background-color: var(--corInputHover);
}

#input-range:active::-webkit-slider-runnable-track {
    background-color: var(--corInputActive);
}

#input-range::-webkit-slider-thumb {
    appearance: none;
    width: var(--tamThumb);
    height: var(--tamThumb);
    border-radius: 50%;
    background-color: var(--corFundoInput);
    position: relative;
    bottom: 4px;
    cursor: grab;
}

#input-range:hover::-webkit-slider-thumb {
    background-color: var(--corFundoInputHover);
}

#input-range:active::-webkit-slider-thumb {
    background-color: var(--corFundoInputActive);
}

#input-range:focus {
    outline: 0;
    border: 0;
}

/* Input number */
#quant-caracteres {
    background-color: var(--corFundoInput);
    border: 1px solid var(--corFundoInput);
    padding: 4px;
    outline: none;
    border-radius: 6px;
    width: 42px;
    text-align: center;
    font-size: 16px;
}

#quant-caracteres:focus {
    border-color: var(--corInput);
    background-color: var(--corFundoInputFocus);
}

#quant-caracteres::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}