* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --corTitulo: #EEFAFF;
    --corFundoInput: #EEFAFF;
    --corFundoInputHover: #d8e3e7;
    --corFundoInputActive: #c8d2d6;
    --corFundoInputFocus: #d8e3e7;
    --corInput: #3D6BC6;
    --corInputHover: #3359a5;
    --corInputActive: #274581;
    --heightTrack: 12px;
    --tamThumb: calc(var(--heightTrack) + 8px);
    --sombraElemento: 0 0 10px rgba(0, 0, 0, 0.4);
}

body {
    height: 100dvh;
    background: linear-gradient(to top, #15284D, #3D6BC6);
}