/* Área de preparação */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
    height: 100dvh;
}

:root {
    --background: #0b0e11;
    --card: #14181f;
    --widthCard: 380px;
    --bordaPrincipal: #1e232d;
    --bordaSecundaria: #4770e0;
    --inputPrincipal: #0f131a;
    --inputPrincipalActive: #0c0c0f;
    --inputPrincipalFocus: #0c0c0f;
    --inputSecundario: #2962ff;
    --inputSecundarioActive: #2353d6;
    --textoPrincipal: #e6eaf0;
    --textoSecundario: #9aa0aa;
    --botao: #2962ff;
    --botaoActive: #2353d6;
    --botaoFonteCor: #d6dadf;
    --copy: #2962ff;
    --copyHover: #3d73ff;
    --success: #2ecc71;
    --successBorda: #238f50;
    --successIcon: #083f1f;
    --failed: #cc2e2e;
    --failedBorda: #9b2222;
    --failedIcon: #500b0b;
    --textoValidacao: #0e110f;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    margin: 16px 0;
    color: var(--textoPrincipal);
}

#icone-cadeado {
    margin-top: 1.4em;
}
